.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Select Style*/
#currencySelect {
  width: 70%;
  color: white;
  background-color: #93e499;
  border-radius: 3px;
  border-style: solid;
  border-color: #93e499;
}

.circleButton {
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border-style: solid;
  width: 30px;
  height: 30px;
}

.plusButton {
  background-color: #4fac5c;
  border-color: #4fac5c;
}

.minusButton {
  background-color: #af2419;
  border-color: #af2419;
}
